@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absoulute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Times New Roman', Times, serif;
   
    
}

body {
    min-height: 200vh;
    background: url(rwrumaozj707g6roh0gj.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
a {
  text-decoration: none;
  transition: transform 0.3s;
}

a {
   position: relative;
   display: inline-block;
   overflow: hidden;
 }
 
 a::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   height: 4px;
   width: 100%;
   background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
   background-size: 200% auto;
   transition: all .5s;
   transform: translateX(-100%);
 }
 
 a:hover::after {
   transform: translateX(0%);
   animation: gradient-89 3s linear infinite;
 }
 
 @keyframes gradient-89 {
   0% { background-position: 100% 0%; }
   50% { background-position: 0% 0%; }
   100% { background-position: 100% 0%; }
 }